@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: rgb(110, 110, 110);
    font-size: 16px;
}



a, p, h1{
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: white;
    text-decoration: none; 
}

header {  
    display: flex;
    justify-content: space-between;
    padding: 0px 2%;
    background-color: rgb(76, 75, 92);
    background-attachment: fixed;
}


/* TODO: set up nav drop down on hover --> */

#navHeader {
    padding-bottom: 2%;
    border-radius: 5px;
    margin: 0px;
}

#navLinks {
    list-style: none;
    display: none;
}

#navHeader:hover + nav #navLinks, #navLinks:hover{
    background-color: rgb(76, 75, 92);
    display: block;
    margin: 0px;
    position: absolute;
}

#navLinks {
    padding: 0% ;
}

#navLinks li {
    padding: 10% 75px;
}

#navLinks li:hover {
    background-color: rgba(35, 26, 36, 0.623);;
}




