@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');

body {
    margin: 0;
    padding: 0;
    background-color: rgb(110, 110, 110);
    font-size: 16px;
}


a, p, h1{
    font-family: "Inter", sans-serif;
    font-weight: 300;
    color: white;
    text-decoration: none; 
}

header {
    width: 100%;
    padding: 0% 2%;
    display: flex;
    background-color: rgb(76, 75, 92);
    position: fixed;
    top: 0;
    
}

#topnav {
    padding-left: 45%;
}

#navHeader {    
    
    padding: 2%;
    padding-right: 101%;
    text-align: center;
}

#navLinks {
    list-style: none;
    display: none;
    padding: 0% ;
}

#navHeader:hover + nav #navLinks, #navLinks:hover{
    background-color: rgb(76, 75, 92);
    display: flex;
    flex-direction: column;
    margin: 0px;
    position: absolute;
}

#navLinks li {
    text-align: center;
    padding: 10% 80px;
}

#navLinks li:hover, #navHeader:hover {
    background-color: rgba(35, 26, 36, 0.623);  
}

#content {
    display: flex;
    flex-direction: column;
    margin: 100px 2%; 
}

footer {
    display: flex;
    background-color: rgb(76, 75, 92);
    position: fixed;
    bottom: 0;
}

#socialsHeader {
    padding: 0px 20px;
}

#sociallinks {
    list-style: none;
    display: none;
    padding: 0px;
}

#sociallinks li {
    text-align: center;
    padding: 8% 30px;
}

#socialsHeader:hover + nav #sociallinks, #sociallinks:hover{
    background-color: rgb(76, 75, 92);
    display: flex;
    position: absolute;
}

#socialsHeader:hover, #sociallinks li:hover{
    background-color: rgba(35, 26, 36, 0.623);  
}




